

//Global Elements
* {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;    
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

// Header Global

header {
    padding-top:3rem;
    .columns {
        align-content: center;
        justify-items: center;
        align-items: center;        
    }
}

.logo-section {
    top:-45%;
    position:absolute;
}


// Scroll Button

.header__scroll_info {
    position: absolute;
    width: 100%;
    bottom: 1.16667vw;
    margin: auto;
    text-align: center;
    transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1),transform 1s cubic-bezier(0.55, 0, 0.1, 1),-webkit-transform 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 1s;
}
.header__scroll_info .header__scroll_info_container {
    background: linear-gradient(to top, $darkblue 50%, #fff 50%) repeat scroll right top/100% 200% transparent;
    transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1),color 0.5s cubic-bezier(0.55, 0, 0.1, 1),background 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    width: 70px;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
}
.header__scroll_info .header__scroll_info_container span {
    font-size: 13px;
    color:white;
}
.header__scroll_info .header__scroll_info_container span {
    top: -23px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 8px;
    text-shadow: 1px 1px 0px rgba(34,34,34,0.3);
}
.header__scroll_info .header__scroll_info_container svg {
    top: -15px;
    width: 15px;
    stroke: $darkblue;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: $darkblue;
    -webkit-animation: bounceArrow 1s cubic-bezier(0.55, 0, 0.1, 1) infinite;
    animation: bounceArrow 1s cubic-bezier(0.55, 0, 0.1, 1) infinite;
    -webkit-transition: stroke 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: stroke 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.header__scroll_info .header__scroll_info_container:hover {
    background-position: right bottom;
}

.header__scroll_info .header__scroll_info_container:hover svg {
    fill:white;
    stroke: white;
}
.header__scroll_info .header__scroll_info_container:hover span {
    color:$darkblue;
}

@-webkit-keyframes bounceArrow{0%{-webkit-transform:translateY(5px);transform:translateY(5px)}50%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(5px);transform:translateY(5px)}};
@keyframes bounceArrow{0%{-webkit-transform:translateY(5px);transform:translateY(5px)}50%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(5px);transform:translateY(5px)}};

//Hero Sections Common

.hero-section {
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position:center center;  
    .hero-section-inner {
        height:70vh;
        display:flex;
        align-items: flex-end;
        justify-content: center;
        text-align:center;
        h2 {
            font-size:2.3rem;
            font-weight:normal;
            color:white;
            text-transform:uppercase;
        }
        h1 {
            font-weight:normal;
            color:white;
            text-transform:uppercase;
            font-size:calc(3px + 126 * ((100vw - 320px) / 1580));
            line-height: 0.95;
            letter-spacing: -.5rem;
            text-transform: uppercase;
        }
        p {
            font-weight:bold;
            font-size:20px;
            color:white;
            line-height:1.4;
            max-width: 60%;
            margin:0 auto;
        }
    }  
}


//Image Hover Effect
.hef-items {
    margin:7rem 0;
    figure {
        position: relative;
        background-color: #f9f9f9;
        &:before {
            display: block;
            width: 100%;
            padding-top: 66%;
            content: '';
        }
        .aspect-ratio {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .item__asset-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .item__picture--cover {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    transition: opacity 0.75s cubic-bezier(0.55, 0, 0.1, 1);
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
                background: rgba(34,34,34,0.1);
                opacity: 0;
                -webkit-transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
                transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
                pointer-events: none;
            }
            &:hover {
                &:after {
                    opacity:1;
                }
            }
            &:active {
                background-color: transparent;
                outline: 0 !important;
            }
        }
        .item__title {
            left: initial;
            position: absolute;
            bottom: 2.08333vw;
            left: 2.08333vw;
            pointer-events: none;
            color: #fff;
            line-height: .8;
            text-transform: uppercase;
            &:hover {
                opacity:.85;
            }
            h3 {
                letter-spacing: 1px;
                font-size: 1.1rem;
                color:white;
                text-transform: uppercase;
                margin-bottom: 2rem;
                font-family: $light-font;
            }
        }
        &.lt {
            &:before {
                padding-top:140%;
            }
        }     
        &.mt {
            &:before {
                padding-top:130%;
            }
        }        
    }
    .figure-intro {
        color: $textblue;
        width: 70%;
        margin-top: 2rem;
        margin-bottom: 9rem;
        font-size: 18px;
        line-height: 1.8;
    }
}

// Testimonial Section
.testimonials {
    padding:5rem 0;
    background:$gradientbg;
    position:relative;
    .textright {
        position: absolute;
        bottom: 0;
        height: 10rem;
        margin: auto;
        text-transform: uppercase;
        font-size: 10rem;
        right: 8rem;
        z-index: 99;
        font-family:$semibold-font;
        -webkit-text-stroke: 2px #fff;
        -webkit-text-fill-color: transparent;
        h3 {
            transform-origin: top right;            
            transform: rotate(-90deg) translateX(100%);           
        }
    }
    .quoteimg {
      margin-bottom: 3rem;
    }
    p {
      font-size:36px;
      color:white;
      margin-bottom:2rem;
      font-family: $semibold-font;
      &.testimonial-author {
        margin-top:8rem;
        font-size:20px;
        font-family: $bold-font;
        &:before {
          content: '';          
          margin-bottom: 1rem;
          content: "";
          display: block;
          height: 3px;
          width: 150px;
          background: white;
        }
      }
    }
  }

  // Individual Pages 

.info-footer {
    margin:5rem 0;        
    .columns {
        align-items:center;
        justify-content: center;
    }
    .bluebg {
        padding:4rem;
        h3 {
            color:white;
            font-size:1.9rem;
        }
    }
    h2 {
        &.stroke-text {
            -webkit-text-stroke: 1.5px $darkblue;
            text-transform:uppercase;
            font-size:2.5rem;
            line-height:1.1;
            padding-left: 4rem;
        }
    }
}

.inner-testimonials {
    &.testimonials {
        p {
            font-size:30px;
            font-family:$bold-font;
            &.testimonial-author {
                font-size:20px;
            }
        }
        .expertarea {
            margin-bottom: 2rem;
            margin-top: -11rem;
        }
    }
}

.info-intro {
    margin:7rem 0;
    .info-intro-item {
        margin-bottom:2rem;
        &.bg-item {
            padding:3rem;
            background-size:cover;
            background-position: center right;
            background-repeat:no-repeat;
            h4 {
                max-width: 60%;
                margin-bottom:1rem;
            }
            p {
                max-width:70%;
                color:white;
                font-size: 1.4rem;
                span {
                    text-transform:uppercase;
                    font-family:$bold-font;
                }
            }
        }
        h5 {
            text-transform: uppercase;
            font-size:1.3rem;
            color:$grey;
            font-family:$semibold-font;
        }
        h4 {
            text-transform: uppercase;
            font-size:2.5rem;
            background:$gradientxt;
            font-family:$black-font;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.2;
            max-width:70%;
        }
        .info-intro-item-group {
            display:flex;
            align-items:center;
            justify-content: flex-start;
            img {
                margin-right:2rem;
            }
            svg {
                margin-right: 2rem;
                height: 168px;
                min-width: 168px;
            }
            .info-intro-item-copy {
                h4 {
                    max-width:100%;
                }
            }
        }
    }
    .bluebg {
        padding:2rem 3rem;
        text-align:right;
        h2 {
            text-transform:uppercase;
            font-family:$black-font;
            max-width:90%;
            line-height:1;
            font-size:5rem;
            letter-spacing: 1px;
            text-align:left;
        }
        .flakingit {
            text-align:right;
            margin-top:-3rem;
        }
        h4 {
            text-align:left;
            font-size:3rem;
            background:$gradientxt;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
            -webkit-text-stroke: 0;   
            text-transform: uppercase;
            font-family:$bold-font;
            width: 95%;
            span {
                background:none;
                color:white;
                text-transform: none;
               -webkit-text-fill-color: white;  
               font-family:$primary-font; 
            }
        }
    }
    .info-items {
        .icon-middle {
            margin-left: -3rem;
            align-self: flex-end;
            margin-right: 2rem;
        }
        .icon-top {
            margin-left: -4rem;
            margin-right: 2rem;
        }
        .icon-last {
            margin:0;
        }
        p {
            color:$grey;
            font-size:24px;
            &.sm-txt {
                font-size:19px;
            }
            span {
                background:$gradientxt;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;   
                -webkit-text-stroke: 0;   
                font-family: $bold-font;
                text-transform:uppercase;
                font-size:1.8rem;
                &.largetxt {
                    font-family: $black-font;
                    font-size:3rem;
                    text-transform: none;
                    line-height: 1;
                }
            }
        }
        &.four-col {
            margin:2rem 0 0;
            text-align:right;
            .column {
                padding:1rem;
            }
            img {
                text-align: right;
                margin-bottom:1.5rem;
            }
            p {
                text-align: left;
            }
        }
    }
    .quotestroke {
        margin:2rem 0;
        h2 {
            &.stroke-text {
                 -webkit-text-stroke: 1.5px $darkblue;
                text-transform:uppercase;
                font-size:3rem;
                line-height:1.1;
            }
        }
    }
}

.img-group-anim {
    display:flex;
    align-items:center;
    justify-content:center;
}

progress[value] {
    appearance: none;
    width: 250px;
    height: 40px;
    }

    progress[value]::-webkit-progress-bar {
    background-color:#489DD7;
    
    overflow: hidden;
    }

    progress[value]::-webkit-progress-value {
    background-color: #1F2648;
    }